*,
*::before,
*::after {
	box-sizing: border-box; /* Include padding in the height */
}

:root {
	font-family: "JetBrains Mono", "Source Code Pro", "SF Mono", monospace;
	font-size: 13px;
	--font-color-grey: #AAAAAA;
	--font-weight-bold: 700;
	--font-weight-medium: 500;
	--backdrop-color: #F5F5F5;
	--border-light: #F5F5F5;
	--border-deep: 1px solid #CCCCCC;
	--board-head-background: #FBFBFB;
	--theme-color: #4C5200;
}


html, body, .shell {
	width: 100vw;
	height: 100vh;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-size: 1em;
	overflow: hidden; /* Prevents the viewport from bouncing */
}

.shell {
	display: grid;
	grid-template-rows: 40px 1fr;
}

.head {
	background-color: var(--theme-color);
	display: grid;
	grid-template-columns: 40px 150px 200px 200px 1fr 200px 100px;
}
.head > div {
	align-content: center;
}
.menu {
	color: var(--font-color-grey);
	font-weight: 700;
}
.logo {
	font-weight: 900;
	font-size: 1.25em;
	text-align: center;
}
table, thead, tbody, tr, th, td {
	padding: 0;
	margin: 0;
}
table {
	background-color: #f5f5f5;
	border-collapse: separate; /* Ensure this is not 'collapse' */
	border-spacing: 10px 0;
	margin: 0 -10px; /* To remove the border-spacing on the most left and right of the table. */
}

thead {
	position: sticky;
	top: 0;
	z-index: 1;
}
thead td div {
	text-align: left;
}

td {
	border-width: 0;
	padding: 0 10px;
	background-color: white;
	vertical-align: center;
	overflow: hidden; /* Hide overflowing content */
	text-overflow: ellipsis; /* Show an ellipsis if the text overflows */
	white-space: nowrap; /* Prevent the text from wrapping */
}
/* The first column, aka, the index titles column. */
td:first-child {
	background-color: var(--board-head-background);
	position: sticky;
	left: 0;
	z-index: 1; /* Ensures the board-head stays above other elements */
	border-right: 1px solid var(--border-light);
}
td:first-child > div {
	width: 200px !important;
	font-weight: bold;
	text-align: left;
	display: grid;
	grid-template-columns: 30px 1fr !important;
}
tbody td:first-child > div {
	background-color: var(--board-head-background) !important;
}

/* The timeline row */
thead tr:first-child td {
	background-color: var(--backdrop-color);
}
.timeline td {
	color: var(--font-color-grey);
	font-weight: var(--font-weight-bold);
}

.unit-info td div {
	vertical-align: top;
	text-align: left;
	background-color: white;
}
/* The cell div of each td */
td > div:first-child {
	width: 300px;
	height: 40px;
	display: inline-grid;
	grid-template-columns: 1fr 1fr;
	gap: 0;
	border-bottom: 1px solid var(--border-light);
}
td > div {
	vertical-align: middle;
	line-height: 40px;
	text-align: right;
}
.good {
	color: green;
}
.fail {
	color:red;
}

.card-title-row td > div {
	font-weight: var(--font-weight-bold);
	border-top: var(--border-deep);
}

.card-final-row td > div {
	border-bottom: 0;
}

.sub-index-row > td:nth-child(1) div > div:nth-child(2) {
	text-align: right;
	font-weight: normal;
}

.dropdown::after {
	content: "\25BE";
}

.main {
	display: flex;
	background-color: var(--backdrop-color);
	overflow-x: auto; /* Enables horizontal scrolling within this div */
	overflow-y: auto; /* Prevents vertical scrolling */
	position: relative;
	white-space: nowrap;
	padding: 0;
	margin: 0;
}

.plate {
	padding:0;
	margin: 0;
	height: 100%;
}






/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 */
::-moz-selection {
	background: #b3d4fc;
	text-shadow: none;
}
::selection {
	background: #b3d4fc;
	text-shadow: none;
}


/* Hide visually and from screen readers. */
.hidden, [hidden] {
	display: none !important;
}

/* Hide visually and from screen readers, but maintain layout. */
.invisible {
	visibility: hidden;
}
/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
	/* Style adjustments for viewports that meet the condition */
}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
	/* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
	*,
	*::before,
	*::after {
		background: #fff !important;
		color: #000 !important;
		/* Black prints faster */
		box-shadow: none !important;
		text-shadow: none !important;
	}

	a,
	a:visited {
		text-decoration: underline;
	}

	a[href]::after {
		content: " (" attr(href) ")";
	}

	abbr[title]::after {
		content: " (" attr(title) ")";
	}

	/*
	 * Don't show links that are fragment identifiers,
	 * or use the `javascript:` pseudo protocol
	 */
	a[href^="#"]::after,
	a[href^="javascript:"]::after {
		content: "";
	}

	pre {
		white-space: pre-wrap !important;
	}

	pre,
	blockquote {
		border: 1px solid #999;
		page-break-inside: avoid;
	}

	tr,
	img {
		page-break-inside: avoid;
	}

	p,
	h2,
	h3 {
		orphans: 3;
		widows: 3;
	}

	h2,
	h3 {
		page-break-after: avoid;
	}
}
