.shell {
	height: 100vh;
	width: 100vw;
	display: grid;
	grid-template-rows: 40px 40px 1fr;
}

header {
	background-color: var(--theme-color);
	display: grid;
	grid-template-columns: 200px 1fr 1fr 1fr 1fr 1fr 200px;
}

:root, .shell, header {
	white-space: nowrap;
	overflow: hidden;
	margin: 0;
	padding: 0;
}

main {
	background-color: var(--backdrop-color);
	overflow-x: hidden;
	overflow-y: auto;
	padding: 0 5px 5px 5px;
}


.timeline {
	background-color: var(--backdrop-color);
	padding: 0 5px;
}
.timeline, .unit-row {
	display: grid;
	grid-template-columns: minmax(50px, 100px) minmax(50px, 150px) repeat(8, 1fr);
	gap: 5px;
	white-space: nowrap;
	overflow-x: hidden;
	overflow-y: hidden;
}
.unit-row {
	margin-bottom: 5px;
	min-height: 150px;
}
