.board {
	background-color: white;
	min-height: var(--board-height-min);
	padding: 0 10px;
	text-align: right;
}

.date {
	text-align: left;
	vertical-align: middle;
	line-height: 40px;
	color: #AAAAAA;
	font-weight: var(--font-weight-bold);
}

.cell {

}
.dropdown::before {
	content: "\25BC\00A0\00A0";
	font-family: Arial, sans-serif;
}
.dropdown:hover {
	cursor: pointer;
	color: white;
}

details > div,
summary {
	display: block;
	font-weight: bold;
	line-height: 40px;
	vertical-align: middle;
	border-top: var(--border-deep);
	cursor: pointer;
}
