.board {
	background-color: white;
	padding: 0 10px;
	text-align: right;
}

.board-date {
	height: 100%;
	text-align: left;
	vertical-align: middle;
	line-height: 40px;
	padding-left: 10px;
	color: #AAAAAA;
	font-weight: var(--font-weight-bold);
}

.cell {

}
.dropdown::before {
	content: "\25BC\00A0\00A0";
	font-family: Arial, sans-serif;
}
.dropdown:hover {
	cursor: pointer;
	color: white;
}

