
:root {
	font-family: "JetBrains Mono", "Source Code Pro", "SF Mono", monospace;
	font-size: 13px;
	--font-color-grey: #AAAAAA;
	--font-weight-bold: 700;
	--font-weight-medium: 500;
	--backdrop-color: #EEEEEE;
	--border-light: #F5F5F5;
	--border-deep: 1px solid #CCCCCC;
	--board-background-color: #FBFBFB;
	--theme-color: #4C5200;
}

nav > div {
	justify-content: center;
	align-content: center;
	color: var(--font-color-grey);
	font-weight: 700;
}

.title, .index {
	position: sticky;
	left: 0;
	z-index: 100;
}
.title {
	height: 40px;
	line-height: 40px;
	vertical-align: center;
}
details > div,
summary {
	font-weight: bold;
	line-height: 40px;
	vertical-align: middle;
	border-top: var(--border-deep);
	cursor: pointer;
}
details > div {
	padding-left: 10px;
}

.good {
	color: green;
}
.fail {
	color:red;
}

.left {
	padding-left: 10px;
	text-align: start;
}
.right {
	padding-right: 10px;
	text-align: end;
}



/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 */
::-moz-selection {
	background: #b3d4fc;
	text-shadow: none;
}
::selection {
	background: #b3d4fc;
	text-shadow: none;
}


/* Hide visually and from screen readers. */
.hidden, [hidden] {
	display: none !important;
}

/* Hide visually and from screen readers, but maintain layout. */
.invisible {
	visibility: hidden;
}
/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
	/* Style adjustments for viewports that meet the condition */
}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
	/* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
	*,
	*::before,
	*::after {
		background: #fff !important;
		color: #000 !important;
		/* Black prints faster */
		box-shadow: none !important;
		text-shadow: none !important;
	}

	a,
	a:visited {
		text-decoration: underline;
	}

	a[href]::after {
		content: " (" attr(href) ")";
	}

	abbr[title]::after {
		content: " (" attr(title) ")";
	}

	/*
	 * Don't show links that are fragment identifiers,
	 * or use the `javascript:` pseudo protocol
	 */
	a[href^="#"]::after,
	a[href^="javascript:"]::after {
		content: "";
	}

	pre {
		white-space: pre-wrap !important;
	}

	pre,
	blockquote {
		border: 1px solid #999;
		page-break-inside: avoid;
	}

	tr,
	img {
		page-break-inside: avoid;
	}

	p,
	h2,
	h3 {
		orphans: 3;
		widows: 3;
	}

	h2,
	h3 {
		page-break-after: avoid;
	}
}
