
:root {
	font-family: "JetBrains Mono", "Source Code Pro", "SF Mono", monospace;
	font-size: 13px;
	--font-color-grey: #AAAAAA;
	--font-weight-bold: 700;
	--font-weight-medium: 500;
	--backdrop-color: #EEEEEE;
	--border-light: #F5F5F5;
	--border-deep: 1px solid #CCCCCC;
	--board-background-color: #FBFBFB;
	--theme-color: #4C5200;
}



.shell {
	display: grid;
	grid-template-rows: 40px 1fr;
}

.head {
	background-color: var(--theme-color);
	display: grid;
	grid-template-columns: 200px 1fr 1fr 1fr 1fr 1fr 200px;
}
.head > div {
	justify-content: center;
	align-content: center;
}
.menu {
	color: var(--font-color-grey);
	font-weight: 700;
}
.logo {
	font-weight: 900;
	font-size: 1.25em;
	text-align: center;
}
.main {
	display: grid;
	grid-template-rows: 1fr;
	white-space: nowrap;
	background-color: purple;
	overflow-x: hidden;
	overflow-y: hidden;
	margin: 0;
	padding: 0;
}
.neck {
	height: 40px;
	display: grid;
	grid-template-columns:200px repeat(8, 1fr);
	background-color: blue;
	gap: 5px;
	white-space: nowrap;
	padding: 0 10px;
	margin: 0;
	overflow-x: hidden;
	overflow-y: hidden;
}

.plate {
	width: 100vw;
	height: 100%;
	display: grid;
	grid-template-rows: 40px 1fr;
	row-gap: 10px;
	overflow-x: hidden;
	overflow-y: auto;
	padding: 0 10px;
	background-color: yellow;
}

.row {
	background-color: red;
	display: grid;
	grid-template-columns: 1fr;
	gap: 5px;
}
.board {
	min-width: 200px;
	background-color: white;
	padding: 0 10px;
}
.cell {

}

.date,
.board-full > div,
.board-digest > div {
	min-width: 150px;
}
.board-digest > div {
}
.board-full > div {
}

.board-index {
	background-color: #f5f5f5;
}
.board-weekly {
	background-color: #FBFBFB;
}
.board-daily {
}
.date {
	height: 100%;
	text-align: left;
	vertical-align: middle;
	line-height: 40px;
	padding-left: 10px;
	color: #AAAAAA;
	font-weight: var(--font-weight-bold);
}
.title {
	height: 40px;
	line-height: 40px;
	vertical-align: center;
}
details > div,
summary {
	font-weight: bold;
	line-height: 40px;
	vertical-align: middle;
	border-top: var(--border-deep);
	cursor: pointer;
}
details > div {
	padding-left: 10px;
}

.good {
	color: green;
}
.fail {
	color:red;
}
.dropdown::after {
	content: "\25BE";
}

.left {
	text-align: start;
}
.right {
	text-align: end;
}



/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 */
::-moz-selection {
	background: #b3d4fc;
	text-shadow: none;
}
::selection {
	background: #b3d4fc;
	text-shadow: none;
}


/* Hide visually and from screen readers. */
.hidden, [hidden] {
	display: none !important;
}

/* Hide visually and from screen readers, but maintain layout. */
.invisible {
	visibility: hidden;
}
/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
	/* Style adjustments for viewports that meet the condition */
}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
	/* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
	*,
	*::before,
	*::after {
		background: #fff !important;
		color: #000 !important;
		/* Black prints faster */
		box-shadow: none !important;
		text-shadow: none !important;
	}

	a,
	a:visited {
		text-decoration: underline;
	}

	a[href]::after {
		content: " (" attr(href) ")";
	}

	abbr[title]::after {
		content: " (" attr(title) ")";
	}

	/*
	 * Don't show links that are fragment identifiers,
	 * or use the `javascript:` pseudo protocol
	 */
	a[href^="#"]::after,
	a[href^="javascript:"]::after {
		content: "";
	}

	pre {
		white-space: pre-wrap !important;
	}

	pre,
	blockquote {
		border: 1px solid #999;
		page-break-inside: avoid;
	}

	tr,
	img {
		page-break-inside: avoid;
	}

	p,
	h2,
	h3 {
		orphans: 3;
		widows: 3;
	}

	h2,
	h3 {
		page-break-after: avoid;
	}
}
