:root {
	font-family: "JetBrains Mono", "Source Code Pro", "SF Mono", monospace;
	font-size: 13px;
	--font-color-grey: #aaaaaa;
	--font-weight-bold: 700;
	--font-weight-medium: 500;
	--backdrop-color: #f5f5f5;
	--border-light: #f5f5f5;
	--border-deep: 1px solid #cccccc;
	--board-background-color: #fbfbfb;
	--theme-color: #4c5200;
	--board-height-min: 150px;
}

.good {
	color: green;
}
.fail {
	color: red;
}

.left {
	padding-left: 10px;
	text-align: start;
}
.right {
	padding-right: 10px;
	text-align: end;
}
