.row-head {
	width: 300px;
	position: sticky;
	left: 0;
	z-index: 100;
	display: grid;
	grid-template-columns: 100px 1fr;
	background-color: brown;
}

.board-date,
.board {
	min-width: 150px;
}

.board {
	max-width: 400px;
	min-width: 200px;
	background-color: white;
	padding: 0 10px;
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.board-index {
	background-color: #f5f5f5;
}

.board-date {
	height: 100%;
	text-align: left;
	vertical-align: middle;
	line-height: 40px;
	padding-left: 10px;
	color: #AAAAAA;
	font-weight: var(--font-weight-bold);
}

.board-index {
	background-color: #f5f5f5;
}

.board-date {
	height: 100%;
	text-align: left;
	vertical-align: middle;
	line-height: 40px;
	padding-left: 10px;
	color: #AAAAAA;
	font-weight: var(--font-weight-bold);
}

.cell {

}
.dropdown::before {
	content: "\25BC\00A0\00A0";
	font-family: Arial, sans-serif;
}
.dropdown:hover {
	cursor: pointer;
	color: white;
}

